a.companyCard {
  border-bottom: 1px solid #f2f2f2;
  padding: 12px;
  display: flex;

  align-items: center;
  gap: 16px;

  .logo {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  .info {
    flex: 1;

    white-space: nowrap;
    overflow: hidden;

    h3 {
      flex: 1;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
    }

    .description {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0%;
      color: #999999;

      flex: 1;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .icon {
    display: flex;
    align-items: center;
  }
}
