* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #333;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 960px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.hero {
  text-align: center;
  padding: 48px 0 32px;
}

.hero h1 {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 18px;
}

.hero .lead {
  font-size: 18px;
  line-height: 24px;
}

p.lead {
  color: #999;
  font-size: 16px;
}
