.logo {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);

  .image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 600px) {
    width: 100px;
    height: 100px;
    margin: auto;
  }
}
